[submodule "Palermo-docs"]
	path = Palermo-docs
	url = https://github.com/MultasPalermo/Palermo-docs.git
[submodule "Palermo-api"]
	path = Palermo-api
	url = https://github.com/MultasPalermo/Palermo-api.git
[submodule "Palermo-portal"]
	path = Palermo-portal
	url = https://github.com/MultasPalermo/Palermo-portal.git
[submodule "Palermo-app"]
	path = Palermo-app
	url = https://github.com/MultasPalermo/Palermo-app.git
[submodule "Palermo-db"]
	path = Palermo-db
	url = https://github.com/MultasPalermo/Palermo-db.git
